.content
  border 1px black solid
  margin 23px
  border-top 10px #00008B solid
  background white
  padding 0
  h5
    padding-left 8px
.poster
  padding 5px
  width 100%
  height 100%
  padding-top 10px
  border-top 5px #00008B solid
  border-bottom 5px #00008B solid
  transition all 0.2s linear
.title
  padding 5px
  height 50px
.model-poster
  margin-top 20px
.information
  padding-left 8px
